@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes floatImage {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes cross-step {
  0% {
    transform: translate(100px, -100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  font-size: 55.5%;
  scroll-behavior: smooth;
}
@media (min-width: 800px) {
  html {
    font-size: 65%;
  }
}
@media (min-width: 950px) {
  html {
    font-size: 75%;
  }
}

body {
  display: flex;
  background: #1f242d;
  color: #fff;
  padding-top: 80px;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: min-content;
  padding: 2rem 9%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .sticky {
  border-bottom: 0.1rem solid rgb(0, 0, 0);
}
.header #menu-icon {
  font-size: 3.6rem;
  display: none;
}
.header .header--logo {
  font-size: 2.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.header .header--navbar .header--item-active {
  color: #0ef;
}
.header .header--navbar a {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 3.6rem;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}
.header .header--navbar a:nth-of-type(1) {
  animation-delay: 0.2s;
}
.header .header--navbar a:nth-of-type(2) {
  animation-delay: 0.4s;
}
.header .header--navbar a:nth-of-type(3) {
  animation-delay: 0.6s;
}
.header .header--navbar a:nth-of-type(4) {
  animation-delay: 0.8s;
}
.header .header--navbar a:nth-of-type(5) {
  animation-delay: 1s;
}
.header .header--navbar a:hover {
  color: #0ef;
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
}
@media screen and (max-width: 768px) {
  .header #menu-icon {
    display: block;
  }
  .header .header--navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #1f242d;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px -5px rgb(0, 0, 0);
    display: none;
  }
  .header .header--navbar a {
    display: block;
    font-size: 2em;
    margin: 3rem 0px;
  }
}
.header .active {
  display: block !important;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0px 5% 0;
  overflow-x: hidden;
}
.main .main--content {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0px 0px 30px 0px;
}
.main .main--content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -3px 0px;
  opacity: 0;
  animation-delay: 0.7s;
  animation: slideRight 1s ease forwards;
}
.main .main--content h1 span {
  color: #0ef;
}
.main .main--content h3 {
  font-size: 2em;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 0.7s ease forwards;
  animation-delay: 0.7s;
}
.main .main--content h3 span {
  color: #0ef;
}
.main .main--content h3:nth-of-type(2) {
  margin-bottom: 30px;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 0.7s;
}
.main .main--content p {
  font-size: 1.4rem;
  animation: slideleft 1s ease forwards;
  opacity: 0;
  animation-delay: 0.9s;
}
.main .main--content .main--social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 2rem;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  animation: slideleft 1s ease forwards;
  opacity: 0;
}
.main .main--content .main--social-media a:nth-of-type(1) {
  animation-delay: 0.2s;
}
.main .main--content .main--social-media a:nth-of-type(2) {
  animation-delay: 0.4s;
}
.main .main--content .main--social-media a:nth-of-type(3) {
  animation-delay: 0.6s;
}
.main .main--content .main--social-media a:nth-of-type(4) {
  animation-delay: 0.8s;
}
.main .main--content .main--social-media a:nth-of-type(5) {
  animation-delay: 1s;
}
.main .main--content .main--social-media a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 20px #0ef;
}
.main .main--content .main--btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 1.3rem;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideBottom 0.7s ease forwards;
  animation-delay: 0.7s;
}
.main .main--img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 25px 0px;
}
.main .main--img img {
  max-width: 450px;
  min-width: 280px;
  width: 100%;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}

.main--sobre_mi {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.main--sobre_mi .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px);
  transition: all 1s;
}
.main--sobre_mi .show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}
.main--sobre_mi .main--div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0px 5%;
}
.main--sobre_mi .main--div:nth-child(2) {
  background: #323744;
}
.main--sobre_mi .main--div .main--content {
  width: 100%;
  height: min-content;
  max-width: 600px;
  margin: 20px 0px 30px 0px;
}
.main--sobre_mi .main--div .main--content .main--parrafo {
  font-size: 1.1rem;
  margin: 15px 0px;
}
.main--sobre_mi .main--div .main--content .main--btn_read {
  background: transparent;
  color: #0ef;
  font-size: 1.1rem;
  border: 0px;
  text-decoration: underline;
  cursor: pointer;
}
.main--sobre_mi .main--div .main--content .main--h1_cross {
  opacity: 0;
  animation: cross-step 1s ease forwards;
  animation-delay: 0.7s;
  font-size: 3rem;
  font-weight: 700;
  margin: -3px 0px;
  opacity: 0;
  animation-delay: 0.7s;
}
.main--sobre_mi .main--div .main--content .main--h1_cross span {
  color: #0ef;
}
.main--sobre_mi .main--div .main--content h4 {
  font-size: 1.5em;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}
.main--sobre_mi .main--div .main--content .main--p_education {
  font-size: 1.1rem;
  display: inline;
}
.main--sobre_mi .main--div .main--img_yo {
  display: flex;
  justify-content: center;
  height: min-content;
}
.main--sobre_mi .main--div .main--img_yo img {
  max-width: 450px;
  min-width: 280px;
  width: 100%;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
.main--sobre_mi .main--div .main--img_titulo {
  display: flex;
  justify-content: center;
  height: min-content;
}
.main--sobre_mi .main--div .main--img_titulo img {
  max-width: 420px;
  min-width: 250px;
  width: 100%;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 1s, 2s;
}
.main--sobre_mi .main--div .main--btn {
  margin-top: 15px;
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 1.3rem;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideBottom 0.7s ease forwards;
  animation-delay: 0.7s;
}

.hide {
  display: none;
}

.mostrar {
  font-size: 1.1rem;
  display: inline;
}

.main--habilidades {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.main--habilidades .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px);
  transition: all 1.5s;
}
.main--habilidades .show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}
.main--habilidades p {
  font-size: 1.2rem;
  text-align: center;
}
.main--habilidades .main--div {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 0px 0px;
  padding: 0px 5%;
}
.main--habilidades .main--div:nth-child(2n) {
  background: #323744;
}
.main--habilidades .main--div .main-section_h1 {
  width: 100%;
}
.main--habilidades .main--div .main-section_h1 h1 {
  width: 100%;
  text-align: start;
  font-size: 1.9rem;
}
.main--habilidades .main--div .main-section_h1 h1 span {
  color: #0ef;
}
.main--habilidades .main--div .main--a_trabajos {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 1.3rem;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  text-align: center;
  width: 50%;
  animation: slideBottom 0.7s ease forwards;
  margin: 15% 0px;
  animation-delay: 0.7s;
}
.main--habilidades .main--div .main--section_img {
  display: flex;
  justify-content: space-around;
  margin: 15% 0px;
}
.main--habilidades .main--div .main--section_img img {
  margin: 10px;
  width: 20%;
  height: 20%;
}

.main_contact {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 10px;
  flex: 1;
}
.main_contact .main_contact--section {
  overflow-x: hidden;
}
.main_contact .main_contact--section h2 {
  margin-bottom: 3rem;
  font-size: 2.3rem;
  animation: slideBottom 0.7s ease forwards;
  animation-duration: 2s;
}
.main_contact .main_contact--section h2 span {
  color: #0ef;
}
.main_contact .main_contact--section form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.main_contact .main_contact--section form textarea {
  resize: none;
  animation: slideRight 1s ease forwards;
  animation-duration: 2s;
  overflow-x: hidden;
}
.main_contact .main_contact--section form textarea,
.main_contact .main_contact--section form .main--input_box input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: #323946;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  border: 0px;
}
.main_contact .main_contact--section form textarea:focus,
.main_contact .main_contact--section form .main--input_box input:focus {
  outline: none;
}
.main_contact .main_contact--section form .main--input_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main_contact .main_contact--section form .main--input_box input {
  width: 49%;
  animation: slideleft 1s ease forwards;
  animation-duration: 2s;
}
.main_contact .main_contact--section form .main--btn_submit {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 1.3rem;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  border: 0px solid;
  animation-duration: 2s;
}

.footer {
  width: 100%;
  height: 70px;
  text-align: center;
}
.footer .footer--btn_up {
  display: inline-block;
  padding: 3px 10px;
  background: #323744;
  box-shadow: 0px 1px 10px 1px black;
  color: #fff;
  margin: 10px;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    padding: 10px 10% 0;
    flex: 1;
    align-items: flex-start;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main--sobre_mi .main--div {
    flex-direction: row;
  }
  .main--sobre_mi .main--div .main--img_titulo {
    margin-right: 50px;
  }
  .main--sobre_mi .main--div .main--img_yo {
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  .main--habilidades .main--div .main--section_img {
    justify-content: space-evenly;
    margin: 5%;
  }
  .main--habilidades .main--div .main--section_img img {
    width: 10%;
    height: 10%;
  }
}

/*# sourceMappingURL=styles.css.map */
