.main {
  @include main;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 0px 5% 0;
  overflow-x: hidden;
  flex: 1;
  .main--content {
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0px 0px 30px 0px;

    h1 {
      @include h1;
      @include slideRight;
    }
    h3 {
      font-size: 2em;
      font-weight: 700;
      opacity: 0;
      @include slideBottom;
      animation-delay: 0.7s;
      span {
        color: $primary--color; //guardo
      }
      &:nth-of-type(2) {
        margin-bottom: 30px;
        opacity: 0;
        @include slideTop;
        animation-delay: 0.7s;
      }
    }

    p {
      font-size: 1.4rem;
      @include slideleft;
      opacity: 0;
      animation-delay: 0.9s;
    }

    .main--social-media {
      a {
        display: inline-flex;

        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background: transparent;
        border: 2px solid $primary--color;
        border-radius: 50%;
        color: $primary--color;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: 0.5s ease;
        @include slideleft;
        opacity: 0;
        @for $i from 1 through 5 {
          &:nth-of-type(#{$i}) {
            animation-delay: 0.2s * $i;
          }
        }
        &:hover {
          background: $primary--color;
          color: #1f242d;
          box-shadow: 0 0 20px $primary--color;
        }
        i {
          font-size: 2.5rem;
        }
      }
    }
    .main--btn {
      @include btn;
      @include slideBottom;
      animation-delay: 0.7s;
    }
  }

  .main--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 0px;
    img {
      max-width: 650px;
      min-width: 280px;
      width: 100%;

      opacity: 0;
      @include zoomIn;
      animation-delay: 2s, 3s;
    }
  }
}
//sobre-mi
.main--sobre_mi {
  @include main;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: main--sobre_mi 1s;
  }
  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
  .main--div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    padding: 10% 5%;
    &:nth-child(2) {
      background: $third--color;
    }

    .main--content {
      width: 100%;
      height: 100%;
      height: min-content;
      max-width: 600px;
      margin: 20px 0px 30px 0px;

      .main--parrafo {
        font-size: 1.6rem;
        margin: 15px 0px;
      }
      .main--btn_read {
        background: transparent;
        color: $primary--color;
        font-size: 1.6rem;
        border: 0px;
        text-decoration: underline;
        cursor: pointer;
      }

      .main--h1_cross {
        opacity: 0;
        @include cross-step;
        animation-delay: 0.7s;
        @include h1;
      }
      h4 {
        font-size: 1.7em;
        opacity: 0;
        @include slideRight;
        animation-delay: 0.7s;
      }
      .main--p_education {
        font-size: 1.6rem;
        display: inline-block;
      }
    }
    .main--img_yo {
      display: flex;
      justify-content: center;
      height: min-content;

      img {
        max-width: 450px;
        min-width: 280px;
        width: 100%;
        opacity: 0;
        @include zoomIn;
        animation-delay: 2s, 3s;
      }
    }
    .main--img_titulo {
      display: flex;
      justify-content: center;
      height: min-content;

      img {
        max-width: 420px;
        min-width: 250px;
        width: 100%;

        opacity: 0;
        @include zoomIn;
        animation-delay: 1s, 2s;
      }
    }
    .main--btn {
      margin-top: 15px;
      @include btn;
      @include slideBottom;
      animation-delay: 0.7s;
    }
  }
}

.hide {
  display: none;
}
.mostrar {
  font-size: 1.6rem;
  display: inline;
}

//habilidades
.main--habilidades {
  @include main;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition-property: opacity, filter, transform;
    transition-duration: 1.5s;
  }

  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
    transition-property: opacity, filter, transform;
    transition-duration: 1.5s;
  }

  p {
    font-size: 1.6rem;
    text-align: center;
  }

  .main--div {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
    padding: 0px 5%;
    &:nth-child(2n) {
      background: $third--color;
      padding-top: 25px;
    }
    .main-section_h1 {
      width: 100%;
      h1 {
        width: 100%;
        text-align: start;
        font-size: 1.9rem;

        span {
          color: $primary--color;
        }
      }
    }
    .main--a_trabajos {
      @include btn;
      text-align: center;
      width: 50%;
      @include slideBottom;
      margin: 15% 0px;
      animation-delay: 0.7s;
    }
    .main--section_img {
      display: flex;
      justify-content: space-around;
      margin: 15% 0px;

      img {
        margin: 10px;
        width: 20%;
        height: 20%;
      }
    }
  }
}

//contacto
.main_contact {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 10px;
  flex: 1;
  .main__content--section-admin {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  .main_contact--section {
    overflow-x: hidden;

    h2 {
      margin: 1rem 0px 3rem 0px;
      font-size: 2.3rem;
      @include slideBottom;
      animation-duration: 2s;

      span {
        color: $primary--color;
      }
    }
    .main_contact--div {
      width: 100%;
      display: flex;
      justify-content: center;
      flex: 1;
      margin-top: 20px;

      h2 {
        font-size: 1.8rem;
        width: min-content;
        flex-grow: 1;
        text-align: center;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
      }
    }
    form {
      max-width: 70rem;
      margin: 1rem auto;
      text-align: center;
      margin-bottom: 3rem;

      textarea {
        resize: none;
        @include slideRight;
        animation-duration: 2s;
        overflow-x: hidden;
      }
      textarea,
      input,
      select {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: #fff;
        background: $quarter--color;
        border-radius: 0.8rem;
        margin: 0.7rem 0;
        border: 0px;
        &:focus {
          outline: none;
        }
      }
      input {
        @include slideleft;
      }
      .main--h3_box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: 10px 0px;
        @include slideleft;
        h3 {
          font-size: 1.5rem;
          width: 50%;
          padding: 10px 0px;
        }
      }
      .main--input_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          width: 49%;
          @include slideleft;
          animation-duration: 2s;
        }
        select {
          width: 49%;

          @include slideleft;
          animation-duration: 2s;
        }
        .main--input_box_long {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          input {
            width: 49%;
            @include slideleft;
            animation-duration: 2s;
          }
          select {
            width: 49%;

            @include slideleft;
            animation-duration: 2s;
          }
        }
      }
      .main--btn_submit {
        @include btn;
        @include slideTop;
        border: 0px solid;
        animation-duration: 2s;
      }
    }
  }
}
.scale {
  transform: scale(0.8);
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

//seccion trabajos
.main_t {
  @include main;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  padding: 20px 10px 0px 10px;

  .main--card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    max-height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $third--color;
    border-radius: 30px;
    padding: 15px;
    transform: scale(0.99);
    position: relative;
    border: 2px solid $third--color;
    margin: 10px 0px;
    &:hover {
      border: 2px solid $primary--color;
      transform: scale(1);
      transition-property: border, scale;
      transition-duration: 1.5s;
    }
    .bx-window {
      font-size: 5rem;
      color: $primary--color;
    }
    h2 {
      font-size: 2rem;
    }
    .card--span {

      position: absolute;
      top: 10px; /* Ajusta la distancia desde arriba según tu diseño */
      right: 10px; /* Ajusta la distancia desde la derecha según tu diseño */

      
      .span-icon--github{
        width: 37px;
        text-align: center;
        margin: 10px;
        padding: 5px 10px;

      }
    }
    .main--card--p {
      display: flex;
      align-items: start;
      padding: 10px 0px;
      overflow-y: hidden;
      width: 100%;
      height: 100%;
      line-height: 23px;
      font-size: 1.6rem;
    }
    a {
      @include btn;
      opacity: 1;
      max-width: 180px;
      margin: 30px 0px;
    }
    .main--card_footer {
      width: 100%;
      display: flex;
      align-items: center;
      .main--card-p_stack {
        text-align: start;
        width: min-content;
        height: min-content;
        font-size: 1.6rem;
      }
      article {
        width: 100%;
        overflow-x: auto;
        text-align: start;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2.7rem;
        .bxl-html5 {
          color: #e34f26;
        }
        .bxl-sass {
          color: #cc6699;
        }
        .bxl-javascript {
          color: #f7df1e;
        }
        .bxl-nodejs {
          color: #43853d;
        }
        .bxl-mongodb {
          color: #47a248;
        }
        .bxl-php {
          color: #4f5d95;
        }
        .bxs-data {
          color: #4479a1;
        }
        .bxl-c-plus-plus {
          color: #649ad2;
        }
        .bxl-python {
          color: #ffd43b;
        }
        .bxl-visual-studio {
          color: #8843ba;
        }
        .bxs-copyright {
          color: #1770ff;
        }
        .bxs-file-json {
          color: #9572a1;
        }
      }
    }
  }
}
