.main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 70px 5% 0;
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 70px 10% 0;
    .main--content {
      margin: 20px 0px 0px 0px;
    }
  }
  .main--content {
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 20px 0px 30px 0px;

    h1 {
      @include h1;
      @include slideRight;
    }
    h3 {
      font-size: 2em;
      font-weight: 700;
      opacity: 0;
      @include slideBottom;
      animation-delay: 0.7s;
      span {
        color: $primary--color;
      }
      &:nth-of-type(2) {
        margin-bottom: 30px;
        opacity: 0;
        @include slideTop;
        animation-delay: 0.7s;
      }
    }

    p {
      font-size: 1.4rem;
      @include slideleft;
      opacity: 0;
      animation-delay: 0.9s;
    }

    .main--social-media {
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 33px;
        height: 33px;
        background: transparent;
        border: 2px solid $primary--color;
        border-radius: 50%;
        font-size: 2rem;
        color: $primary--color;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: 0.5s ease;
        @include slideleft;
        opacity: 0;
        @for $i from 1 through 5 {
          &:nth-of-type(#{$i}) {
            animation-delay: 0.2s * $i;
          }
        }
        &:hover {
          background: $primary--color;
          color: #1f242d;
          box-shadow: 0 0 20px $primary--color;
        }
      }
    }
    .main--btn {
      @include btn;
      @include slideBottom;
    }
  }

  .main--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 0px;
    img {
      max-width: 450px;
      min-width: 280px;
      width: 100%;

      opacity: 0;
      @include zoomIn;
      animation-delay: 2s, 3s;
    }
  }
}

.main--sobre_mi {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 1s;
  }
  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
  .main--div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 30px 0px 0px 0px;
    padding: 0px 5%;
    &:nth-child(2) {
      background: $third--color;
    }

    .main--content {
      width: 100%;
      height: min-content;
      max-width: 600px;
      margin: 20px 0px 30px 0px;
      .main--parrafo {
        font-size: 1.1rem;
        margin: 15px 0px;
      }

      .main--btn_read {
        background: transparent;
        color: $primary--color;
        font-size: 1.1rem;
        border: 0px;
        text-decoration: underline;
        cursor: pointer;
      }

      .main--h1_cross {
        opacity: 0;
        @include cross-step;
        animation-delay: 0.7s;
        @include h1;
      }
      h4 {
        font-size: 1.5em;
        opacity: 0;
        @include slideRight;
        animation-delay: 0.7s;
      }
      .main--p_education {
        font-size: 1.1rem;
        display: inline;
      }
    }
    .main--img_yo {
      display: flex;
      justify-content: center;
      height: min-content;

      img {
        max-width: 450px;
        min-width: 280px;
        width: 100%;
        margin-top: 90px;

        opacity: 0;
        @include zoomIn;
        animation-delay: 2s, 3s;
      }
    }
    .main--img_titulo {
      display: flex;
      justify-content: center;
      height: min-content;

      img {
        max-width: 450px;
        min-width: 280px;
        width: 100%;
        margin-top: 30px;
        opacity: 0;
        @include zoomIn;
        animation-delay: 1s, 2s;
      }
    }
    .main--btn {
      margin-top: 15px;
      @include btn;
      @include slideBottom;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      .main--img_titulo {
        margin-right: 50px;
      }
      .main--img_yo {
        margin-right: 50px;
      }
    }
  }
}
.footer {
  width: 100%;
  height: 70px;
  text-align: center;
  .footer--btn_up {
    display: inline-block;
    padding: 3px 10px;
    background: $third--color;
    box-shadow: 0px 1px 10px 1px black;
    color: #fff;
    margin: 10px;
    font-size: 1.8rem;
  }
}
.hide {
  display: none;
}
.mostrar {
  font-size: 1.1rem;
  display: inline;
}
