@mixin btn {
  display: inline-block;
  padding: 12px 28px;
  background: $primary--color;
  border-radius: 40px;
  box-shadow: 0 0 10px $primary--color;
  font-size: 1.3rem;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation-delay: 0.7s;
}
@mixin h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -3px 0px;
  opacity: 0;

  animation-delay: 0.7s;
  span {
    color: $primary--color;
  }
}
@mixin slideRight {
  animation: slideRight 1s ease forwards;
}

@mixin slideTop {
  animation: slideTop 0.5s ease forwards;
}
@mixin slideBottom {
  animation: slideBottom 0.7s ease forwards;
}
@mixin slideleft {
  animation: slideleft 1s ease forwards;
}
@mixin zoomIn {
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
}
@mixin cross-step {
  animation: cross-step 1s ease forwards;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes cross-step {
  0% {
    transform: translate(100px, -100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
